/** Main Section */
main{

    width: 100%;
    height: 100%;

}

/** Portfolio Page Title Section */
.portfolioPageTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;

}

/** Portfolio Page Inner Title Section */
.portfolioPageTitleSection > .portfolioPageInnerTitleSection{

    margin-left: 20px;

}

.portfolioPageInnerTitleSection > span{

    font-size: 20px;
    font-family: var(--medium-font);
    margin-bottom: 20px;
    margin-left: 40px;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;

}

.portfolioPageInnerTitleSection > span::after{

    position: absolute;
    top: 0px;
    left: -30px;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    content: "";
    border-radius: 5px 5px 5px 5px;

}

.portfolioPageInnerTitleSection > h1{

    font-size: 170px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    line-height: 150px;
    text-transform: uppercase;

}

/** Portfolio Banner Section */
.portfolioBannerSection{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.portfolioBannerSection > .portfolioBannerImageSection{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

/** Banner Scroller Image Section */
.portfolioBannerImageSection > .portfolioBannerScrollerImageSection{

    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
    top: -500px;

}

/** Banner Scroller Image Section Image List */
.portfolioBannerScrollerImageSection > ul{

    animation: bannerImageScroller 50s linear infinite;
    width: 100%;
    list-style-type: none;

}

.portfolioBannerImageSection ul > li{

    display: inline-block;

}

.portfolioBannerImageSection ul li > img{

    width: 200%;
    object-fit: cover;
    position: relative;
    transform: skewY(-200deg);
    opacity: 0.8;

}


@keyframes bannerImageScroller {
    
    0%{

        transform: translateY(0%);

    }100%{

        transform: translateY(-100%);

    }

}

/** Banner Overlay Description Div */
.portfolioBannerSection > .portfolioBannerOverlayDiv{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 255, 255), #2929297d);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

}

.portfolioBannerOverlayDiv > h2{

    font-size: 100px;
    font-family: var(--bold-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 30px;

}

.portfolioBannerOverlayDiv > h2::after{

    position: absolute;
    top: 110px;
    right: 0px;
    width: 40%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    content: "";
    border-radius: 50px;

}

.portfolioBannerOverlayDiv > h2::before{

    position: absolute;
    top: 130px;
    right: 0px;
    width: 20%;
    height: 5px;
    content: "";
    background-color: royalblue;
    border-radius: 50px;

}

.portfolioBannerOverlayDiv > p{

    font-size: 20px;
    font-family: var(--regular-font);
    margin-right: 20px;
    color: var(--secondary-color);
    width: 1200px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: right;

}

/** Portfolio Page Showcasing Section */
.portfolioPageShowcasingMainTitleSection{

    width: 100%;
    height: 120vh;

}

.portfolioPageShowcasingMainTitleSection > .portfolioPageShowcasingTitleSection{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.portfolioPageShowcasingTitleSection > .portfolioShowcasingInnerTitleSection{

    margin-left: 20px;
    text-align: center;
    

}

.portfolioShowcasingInnerTitleSection > span{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    margin-bottom: 30px;
    display: inline-flex;
    text-transform: uppercase;

}

.portfolioShowcasingInnerTitleSection > h2{

    font-size: 160px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    line-height: 118px;
    text-transform: uppercase;

}

.portfolioShowcasingInnerTitleSection h2 > .title1{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

} 

.portfolioShowcasingInnerTitleSection h2 .title1 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title2{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

}

.portfolioShowcasingInnerTitleSection h2 .title2 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title3{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

}

.portfolioShowcasingInnerTitleSection h2 .title3 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title4{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

} 

.portfolioShowcasingInnerTitleSection h2 .title4 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 .title2 > span{

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}

.portfolioShowcasingInnerTitleSection h2 .title4 > span{

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}

/** Portfolio Showcasing Section */
.portfolioPageShowCasingSection{

    width: 100%;
    height: 100%;
    border-bottom: 5px solid #ffffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 50px 0px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;

}

.portfolioPageShowCasingSection > .portfolioPageInnerShowCasingSection{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;


}

.portfolioPageInnerShowCasingSection > .portfolioWorkDiv{

    width: 730px;
    height: 1000px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    transition: all 0.8s ease;
    box-shadow: 5px 10px 10px #29292977;

}

.portfolioWorkDiv > .portfolioImage{

    position: absolute;
    width: 100%;
    height: auto;
    transition: all 5s linear;

}

.portfolioImage > img{

    width: 100%;
    height: auto;
    object-fit: cover;

}

.portfolioWorkDiv:hover > .portfolioImage{

    transform: translateY(calc(-1 * (100% - 1000px)));
    opacity: 1;

}

/** Portfolio Live Demo Div */
.portfolioWorkDiv > .portfolioLiveDemoDiv{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.8s ease;
    opacity: 0;
    filter: blur(10px);

}

.portfolioWorkDiv:hover > .portfolioLiveDemoDiv{

    height: 10rem;
    opacity: 1;
    filter: blur(0px);

}

.portfolioLiveDemoDiv > .portfolioInnerLiveDiv{

    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 105, 225, 0.474);

}

.portfolioInnerLiveDiv > a{

    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 50px;
    white-space: nowrap;
    text-decoration: none;

}

.portfolioInnerLiveDiv a > ul{

    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    animation: livePreviewScroller 20s linear infinite;

}

.portfolioInnerLiveDiv a ul > li{

    font-size: 200px;
    font-family: var(--creative-font);
    text-transform: uppercase;
    padding-top: 40px;
    letter-spacing: 20px;
    font-style: italic;
    margin-left: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(50deg, #ffffffff, #ffffffff);
    background-size: 150vw 150vw;

}

@keyframes livePreviewScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

/** Portfolio Error Message */
.portfolioErrorMessageDiv{

    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.portfolioErrorMessageDiv > img{

    position: absolute;
    top: -140px;
    width: 100%;
    height: 120%;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(5px 5px 5px #2929294e);
    z-index: -2;

}

.portfolioErrorMessageDiv > span{

    position: absolute;
    top: 30%;
    left: 0%;
    font-size: 150px;
    text-transform: normal;
    font-family: var(--creative-font);
    letter-spacing: 2px;
    line-height: 150px;
    width: 100%;
    display: inline-flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: #292929;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 5px #2929292e;
    background-image: linear-gradient(to top, transparent, #ffffff);

}

/** Portfolio Fetching Message */
.portfolioFetchingMessage{

    width: 100%;
    height: 100vh;

}
