/** Main Section */
main{

    width: 100%;
    height: 100%;

}

/** Portfolio Page Title Section */
.portfolioPageTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;

}

/** Portfolio Page Inner Title Section */
.portfolioPageTitleSection > .portfolioPageInnerTitleSection{

    margin-left: 20px;

}

.portfolioPageInnerTitleSection > span{

    font-size: 20px;
    font-family: var(--medium-font);
    margin-bottom: 20px;
    margin-left: 40px;
    display: inline-flex;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;

}

.portfolioPageInnerTitleSection > span::after{

    position: absolute;
    top: 0px;
    left: -30px;
    height: 20px;
    width: 20px;
    background-color: var(--primary-color);
    content: "";
    border-radius: 5px 5px 5px 5px;

}

.portfolioPageInnerTitleSection > h1{

    font-size: 170px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    line-height: 150px;
    text-transform: uppercase;

}

/** Portfolio Banner Section */
.portfolioBannerSection{

    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}

.portfolioBannerSection > .portfolioBannerImageSection{

    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

/** Banner Scroller Image Section */
.portfolioBannerImageSection > .portfolioBannerScrollerImageSection{

    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    position: absolute;
    top: -500px;

}

/** Banner Scroller Image Section Image List */
.portfolioBannerScrollerImageSection > ul{

    animation: bannerImageScroller 50s linear infinite;
    width: 100%;
    list-style-type: none;

}

.portfolioBannerImageSection ul > li{

    display: inline-block;

}

.portfolioBannerImageSection ul li > img{

    width: 200%;
    object-fit: cover;
    position: relative;
    transform: skewY(-200deg);
    opacity: 0.8;

}


@keyframes bannerImageScroller {
    
    0%{

        transform: translateY(0%);

    }100%{

        transform: translateY(-100%);

    }

}

/** Banner Overlay Description Div */
.portfolioBannerSection > .portfolioBannerOverlayDiv{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to top, rgb(255, 255, 255), #2929297d);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;

}

.portfolioBannerOverlayDiv > h2{

    font-size: 100px;
    font-family: var(--bold-font);
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    letter-spacing: 2px;
    position: relative;
    margin-bottom: 30px;

}

.portfolioBannerOverlayDiv > h2::after{

    position: absolute;
    top: 110px;
    right: 0px;
    width: 40%;
    height: 5px;
    background-color: rgb(255, 255, 255);
    content: "";
    border-radius: 50px;

}

.portfolioBannerOverlayDiv > h2::before{

    position: absolute;
    top: 130px;
    right: 0px;
    width: 20%;
    height: 5px;
    content: "";
    background-color: royalblue;
    border-radius: 50px;

}

.portfolioBannerOverlayDiv > p{

    font-size: 20px;
    font-family: var(--regular-font);
    margin-right: 20px;
    color: var(--secondary-color);
    width: 1200px;
    line-height: 30px;
    letter-spacing: 1px;
    text-align: right;

}

/** Portfolio Page Showcasing Section */
.portfolioPageShowcasingMainTitleSection{

    width: 100%;
    height: 120vh;

}

.portfolioPageShowcasingMainTitleSection > .portfolioPageShowcasingTitleSection{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

}

.portfolioPageShowcasingTitleSection > .portfolioShowcasingInnerTitleSection{

    margin-left: 20px;
    text-align: center;
    

}

.portfolioShowcasingInnerTitleSection > span{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    margin-bottom: 30px;
    display: inline-flex;
    text-transform: uppercase;

}

.portfolioShowcasingInnerTitleSection > h2{

    font-size: 160px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    line-height: 118px;
    text-transform: uppercase;

}

.portfolioShowcasingInnerTitleSection h2 > .title1{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

} 

.portfolioShowcasingInnerTitleSection h2 .title1 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title2{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

}

.portfolioShowcasingInnerTitleSection h2 .title2 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title3{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 0px 0px;

}

.portfolioShowcasingInnerTitleSection h2 .title3 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 > .title4{

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;

} 

.portfolioShowcasingInnerTitleSection h2 .title4 > span{

    display: inline-flex;

}

.portfolioShowcasingInnerTitleSection h2 .title2 > span{

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}

.portfolioShowcasingInnerTitleSection h2 .title4 > span{

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}

/** Portfolio Showcasing Section */
.portfolioPageShowCasingSection{

    width: 100%;
    height: 100%;
    border-bottom: 5px solid #ffffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 50px 0px;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;

}

.portfolioPageShowCasingSection > .portfolioPageInnerShowCasingSection{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;


}

.portfolioPageInnerShowCasingSection > .portfolioWorkDiv{

    width: 730px;
    height: 1000px;
    overflow: hidden;
    position: relative;
    border-radius: 50px;
    transition: all 0.8s ease;
    box-shadow: 5px 10px 10px #29292977;

}

.portfolioWorkDiv > .portfolioImage{

    position: absolute;
    width: 100%;
    height: auto;
    transition: all 5s linear;

}

.portfolioImage > img{

    width: 100%;
    height: auto;
    object-fit: cover;

}

.portfolioWorkDiv:hover > .portfolioImage{

    transform: translateY(calc(-1 * (100% - 1000px)));
    opacity: 1;

}

/** Portfolio Live Demo Div */
.portfolioWorkDiv > .portfolioLiveDemoDiv{

    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 0rem;
    transform: translate(-50%, -50%);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.8s ease;
    opacity: 0;
    filter: blur(10px);

}

.portfolioWorkDiv:hover > .portfolioLiveDemoDiv{

    height: 10rem;
    opacity: 1;
    filter: blur(0px);

}

.portfolioLiveDemoDiv > .portfolioInnerLiveDiv{

    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(65, 105, 225, 0.474);

}

.portfolioInnerLiveDiv > a{

    width: 100%;
    height: 100%;
    display: inline-flex;
    gap: 50px;
    white-space: nowrap;
    text-decoration: none;

}

.portfolioInnerLiveDiv a > ul{

    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    animation: livePreviewScroller 20s linear infinite;

}

.portfolioInnerLiveDiv a ul > li{

    font-size: 200px;
    font-family: var(--creative-font);
    text-transform: uppercase;
    padding-top: 40px;
    letter-spacing: 20px;
    font-style: italic;
    margin-left: 50px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(50deg, #ffffffff, #ffffffff);
    background-size: 150vw 150vw;

}

@keyframes livePreviewScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

/** Portfolio Error Message */
.portfolioErrorMessageDiv{

    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.portfolioErrorMessageDiv > img{

    position: absolute;
    top: -140px;
    width: 100%;
    height: 120%;
    object-fit: contain;
    object-position: bottom;
    filter: drop-shadow(5px 5px 5px #2929294e);
    z-index: -2;

}

.portfolioErrorMessageDiv > span{

    position: absolute;
    top: 30%;
    left: 0%;
    font-size: 150px;
    text-transform: normal;
    font-family: var(--creative-font);
    letter-spacing: 2px;
    line-height: 150px;
    width: 100%;
    display: inline-flex;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: #292929;
    z-index: 2;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-background-clip: text;
    background-clip: text;
    text-shadow: 2px 2px 5px #2929292e;
    background-image: linear-gradient(to top, transparent, #ffffff);

}

/** Portfolio Fetching Message */
.portfolioFetchingMessage{

    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}

.portfolioFetchingMessage > .loadingSVGDiv{

   display: flex;
   align-items: center;
   justify-content: center;

}

.loadingSVGDiv > svg{

    font-size: 50px;
    color: royalblue;
    animation: loadingSVG 5s linear infinite;

}

@keyframes loadingSVG {
    
    0%{

        transform: rotate(0deg);

    }100%{

        transform: rotate(360deg);

    }

}

.portfolioFetchingMessage > .loaderTextDiv{

    display: flex;
    align-items: center;
    justify-content: center;

}

.loaderTextDiv > span{

    font-family: var(--bold-font);
    font-size: 20px;

}

/** Portfolio Enquary Form Main Section */
.portfolioEnquaryFormMainSection{

    width: 100%;
    height: 100vh;
    background-color: #292929;
    border-bottom: 2px dashed #ffffffff;
    overflow: hidden;

}


.portfolioEnquaryFormMainSection > .enquaryTitleSection{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px dashed #292929;

}

.enquaryTitleSection > span{

    font-size: 20px;
    font-family: var(--medium-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    color: var(--secondary-color);

}

.enquaryTitleSection > h2{

    font-family: var(--bold-font);
    font-size: 120px;
    line-height: 120px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: var(--secondary-color);

}

.enquaryTitleSection > button{

    width: 40%;
    height: 80px;
    background-color: transparent;
    border: 1px solid #ffffffff;
    cursor: pointer;
    font-family: var(--regular-font);
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 0px 50px 0px 50px;
    position: relative;
    transition: all 0.8s ease;
    overflow: hidden;
    color: var(--secondary-color);

}

.enquaryTitleSection > button:hover{

    border: 1px solid #292929;
    color: #292929;
    border-radius: 50px 0px 50px 0px;
    
}

.enquaryTitleSection > button::after{

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    content: "";
    /* background-color: royalblue; */
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    transition: all 0.8s ease;
    z-index: -2;

}

.enquaryTitleSection > button:hover::after{

    height: 100%;

}

/** Portfolio Enquary Form Main Form Section */
.portfolioEnquaryFormMainSection > .enquaryFormSectionMainFormDiv{

    width: 100%;
    height: 0%;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateY(1000px); */
    overflow: hidden;

}

.enquaryFormSectionMainFormDiv > form{

    width: 80%;
    border: 1px solid #292929;
    padding: 20px 20px;
    border-radius: 20px;

}

/** First Input Div */
form > .firstInputDiv{

    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.firstInputDiv > .nameInputDiv{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rebeccapurple; */

}

.nameInputDiv > label{

    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 20px;

}

.nameInputDiv > input{

    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #292929;
    outline: none;
    font-family: var(--regular-font);
    letter-spacing: 2px;
    font-size: 15px;

}

.firstInputDiv > .emailInputDiv{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.emailInputDiv > label{

    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 20px;

}

.emailInputDiv > input{

    width: 90%;
    padding-left: 10px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #292929;
    outline: none;

}

/** Second Input Div */
form > .secondInputDiv{

    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.secondInputDiv > .mobileInputDiv{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: rebeccapurple; */

}

.mobileInputDiv > label {

    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 20px;

}

.mobileInputDiv > input{

    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #292929;
    outline: none;
    font-family: var(--regular-font);
    letter-spacing: 2px;
    font-size: 15px;

}

.secondInputDiv > .companyNameInputDiv{

    width: 50%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.companyNameInputDiv > label{

    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 20px;

}

.companyNameInputDiv > input{

    width: 90%;
    height: 50px;
    padding-left: 10px;
    border-radius: 10px;
    border: 1px solid #292929;
    outline: none;
    font-family: var(--regular-font);
    letter-spacing: 2px;
    font-size: 15px;

}

/** Form Third Input Div */
form > .thirdInputDiv{

    width: 100%;
    height: 100px;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.thirdInputDiv > .servicesInputDiv{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.servicesInputDiv > label{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;

}

.servicesInputDiv > select{

    width: 96%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #292929;
    font-size: 15px;
    padding-left: 10px;
    letter-spacing: 2px;
    font-family: var(--regular-font);
    outline: none;

}

.servicesInputDiv select > option{

    font-family: var(--regular-font);
    font-size: 15px;
    letter-spacing: 2px;

}

/** Fourth Input Div */
form > .fourthInputDiv{

    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* background-color: #292929; */

}

.fourthInputDiv > label{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;

}

.fourthInputDiv > textarea{

    resize: none;
    border-radius: 10px;
    border: 1px solid #292929;
    outline: none;
    padding: 20px 0px 0px 10px;
    font-family: var(--regular-font);
    letter-spacing: 2px;
    font-family: var(--regular-font);

}

/** Submit Button Div */
form > .submitButtonDiv{

    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.submitButtonDiv > button{

    width: 30%;
    height: 50px;
    background-color: transparent;
    border: 1px solid #292929;
    cursor: pointer;
    color: #292929;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 20px;
    border-radius: 10px;
    font-family: var(--regular-font);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.8s ease;

}

.submitButtonDiv > button:hover{

    background-color: #292929;
    color: #ffffffff;

}

.submitButtonDiv button > svg{

    font-size: 40px;
    transform: rotate(45deg);
    margin-top: -5px;
    margin-left: -20px;
    transition: all 0.8s ease;

}

.submitButtonDiv button:hover > svg{

    margin-left: 3px;
    transform: rotate(10deg);
    font-size: 40px;

}

/** Error Message */
.enquiryFormErrorMessage{

    color: red;
    font-family: var(--regular-font);
    margin-top: 5px;
    letter-spacing: 2px;

}

/** Submitting Message */
.submittingMessage{

    font-size: 20px;
    margin-left: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--regular-font);
    letter-spacing: 2px;

}

.submittingMessage > svg{

    font-size: 25px;
    color: royalblue;
    animation: submitMessageLoader 3s linear infinite;

}

@keyframes submitMessageLoader {
    
    0%{

        transform: rotate(0deg);

    }100%{

        transform: rotate(360deg);

    }

}