/** Fonts */
@font-face {
    font-family: 'contactboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'contactmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'contactregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Contact Main Section */
.contactFormMainSection{

    width: 100%;
    height: 120vh;
    overflow: hidden;
    background-color: transparent;
    position: relative;

}

/** Contact From Section*/
.contactFormMainSection > .contactFormSection{

    width: 100%;
    height: 100%;
    background-color: #ffffffff;
    background-size: contain;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactFormSection > .contactFormInnerImageDiv{

    width: 50%;
    height: 100%;
    background-color: #292929;
    overflow: hidden;

}

.contactFormInnerImageDiv > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}

.contactFormSection > .contactFormInnerFormDiv{

    width: 50%;
    height: 100%;
    background-color: #ffffffff;

}

.contactFormInnerFormDiv > .innerFormContentDiv{

    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 20px;

}

.innerFormContentDiv > span{

    font-family: 'contactmediumfont';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;

}

.innerFormContentDiv > h3{

    font-family: 'contactmediumfont';
    letter-spacing: 2px;
    font-size: 50px;
    text-transform: uppercase;
    width: 730px;
    margin-top: 10px;
    position: relative;

}

.innerFormContentDiv > h3::after{

    position: absolute;
    top: 100%;
    left: 0;
    height: 5px;
    width: 40%;
    content: "";
    background-color: royalblue;
    border-radius: 50%;

}

.contactFormInnerFormDiv > .formDiv{

    width: 100%;
    height: 60%;
    padding-left: 20px;
    overflow: hidden;

}

.formDiv > form{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

}

/** First Input Div */
form > .firstInputDiv{

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 30px;
    
}

.firstInputDiv .nameDiv > input{

    width: 300px;
    height: 50px;
    padding-left: 20px;
    font-family: 'contactregularfont';

}

.firstInputDiv .emailDiv > input{

    width: 300px;
    height: 50px;
    padding-left: 20px;
    font-family: 'contactregularfont';

}

/** Second Input Div */ 
form > .secondInputDiv{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;

}

.secondInputDiv .mobileDiv > input{

    width: 300px;
    height: 50px;
    padding-left: 20px;
    font-family: 'contactregularfont';

}

.secondInputDiv .subjectDiv > input{

    width: 300px;
    height: 50px;
    padding-left: 20px;
    font-family: 'contactregularfont';

}

/** Third Input Div */
form > .thirdInputDiv{

    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;

}

.thirdInputDiv > textarea{

    padding: 20px 0px 0px 20px;
    resize: none;

}

/** Submit Button */
form > .submitButtonDiv{

    width: 100%;

}

.submitButtonDiv > button{

    width: 30%;
    height: 50px;
    cursor: pointer;
    background-color: #292929;
    border: none;
    outline: none;
    color: #ffffffff;
    font-family: 'contactmediumfont';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 5px;
    transition: all 0.8s ease;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;

}

.submitButtonDiv button > svg{

    font-size: 25px;
    transition: all 0.8s ease;

}

.submitButtonDiv > button:hover{

    box-shadow: 5px 5px 5px #29292950;
    background-color: transparent;

}

.submitButtonDiv button:hover > svg{

    font-size: 30px;
    filter: drop-shadow(5px 5px 2px #292929);

}

.submitButtonDiv > button::after{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    content: "";
    background-color: royalblue;
    transition: all 0.8s ease;
    z-index: -2;

}

.submitButtonDiv > button:hover::after{

    width: 100%;

}

::placeholder{

    font-family: 'contactmediumfont';
    font-size: 15px;
    letter-spacing: 2px;

}

.errorMessage{

    color: red;
    font-family: 'contactregularfont';
    letter-spacing: 1px;

}

.submitButtonDiv > .submitMessage{

    font-family: 'contactregularfont';
    letter-spacing: 2px;

}

/** Contact Get In Touch Section */
.contactFormMainSection > .contactGetIntouchSection{

    width: 100%;
    height: 100%;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;


}

.contactGetIntouchSection > .contactFormGetInTochInnerDiv{

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;

}

.contactFormGetInTochInnerDiv > span{

    color: #ffffffff;
    display: inline-flex;
    padding-right: 20px;
    font-size: 18px;
    font-family: 'contactmediumfont';
    letter-spacing: 2px;
    text-transform: uppercase;

}

.contactFormGetInTochInnerDiv > h2{

    text-align: right;
    font-size: 135px;
    color: #ffffffff;
    letter-spacing: 2px;
    font-family: 'contactmediumfont';
    text-transform: uppercase;
    line-height: 140px;
    font-weight: bolder;

}

.contactFormGetInTochInnerDiv > button{

    width: 50%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 20px;
    margin-right: 20px;
    background-image: linear-gradient(to right, #292929, royalblue);
    color: #ffffffff;
    font-size: 30px;
    font-family: 'contactmediumfont';
    border: none;
    cursor: pointer;

}