/** Fonts */
@font-face {
    font-family: 'contactboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'contactmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'contactregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Contact Main Section */
.contactFormMainSection{

    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;

}