@font-face {
    font-family: 'navbarlogofont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

@font-face {
    font-family: 'menuFont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

header{

    width: 100%;
    height: 6rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;

}

/** Header logo section */

header > .logoDiv{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 1px solid black;
    position: relative;

}

.logoDiv > img{

    position: absolute;
    left: -30px;
    width: 250px;
    height: 250px;
    object-fit: cover;

}

.logoDiv > h1{

    margin-left: 20px;
    font-family: 'navbarlogofont';
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 40px;

}

/** header menu icon secion */

header > .menuIcon{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;

}

.menuIcon > .icon{

    height: 50%;
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 999;

}

.icon > span{

    background-color: black;
    height: 3px;
    margin-right: 20px;

}

.icon > span:nth-child(1){

    width: 50%;

}

.icon > span:nth-child(2){

    width: 40%;

}

.icon > span:nth-child(3){

    width: 30%;

}

/** Header submenu section */
header > .submenuDiv{

    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, #f7f7f78e, royalblue);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

/** Header inner submenu section */
.submenuDiv > .innerSubMenuDiv{

    width: 40%;
    height: 100%;
    background-color: #ffff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    overflow: hidden;

}

/** Header inner submenu nav section */
.innerSubMenuDiv > nav{

    width: 100%;
    height: 90%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

.innerSubMenuDiv nav > ul {

    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    list-style-type: none;
    gap: 20px;
    margin: 0px 20px;
    width: 100%;
    height: 80%;

}

.innerSubMenuDiv nav ul > li{

    width: 100%;

}

.innerSubMenuDiv nav ul li > a{

    color: #292929;
    font-size: 50px;
    text-decoration: none;
    font-family: 'menuFont';
    letter-spacing: 2px;
    display: inline-flex;
    position: relative;
    width: 100%;
    transition: all 0.8s ease;

}

.innerSubMenuDiv nav ul li > a::before{

    position: absolute;
    top: 50px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #292929;
    content: "";
    transition: all 0.8s ease;

}

.innerSubMenuDiv nav ul li > a:hover{

    font-size: 60px;
    color: royalblue;

}

.innerSubMenuDiv nav ul li > a:hover::before{

    width: 60%;
    top: 70px;

}

/** Innersubmenu contact details section */
.innerSubMenuDiv > .contactSection{

    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;

}

.contactSection > .contact{

    width: 100%;
    margin-left: 20px;
    text-align: right;
    overflow: hidden;

}

.contact > span{

    font-family: 'menuFont';
    font-size: 20px;
    margin-bottom: 5px;
    letter-spacing: 2px;
    margin-right: 30px;
    display: inline-flex;

}

.contactSection > .socialIcon{
  
    width: 50%;

}

.contactSection .socialIcon > ul{

    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin-right: 30px;
    gap: 20px;

}

.contactSection .socialIcon ul li > a{

    font-family: 'menuFont';
    font-size: 20px;
    text-decoration: none;
    color: #292929;
    display: inline-flex;
    align-items: center;
    justify-content: center;

}

.socialIcon ul li > a:hover{

    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, navy, royalblue);
    -webkit-text-fill-color: transparent;

}
