/** Fonts */
@font-face {
    font-family: 'homeblogboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'homeblogmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'homeblogregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Home blog main section */
.homeBlogMainSection{

    width: 100%;
    height: 170vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: contain;
    background-position: center;

}

/** Title Section */
.homeBlogMainSection > .blogTitle{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #ffffffff;
}

.blogTitle > span{

    padding-left: 70px;
    color: #292929;
    font-family: 'homeblogmediumfont';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    position: relative;


}

.blogTitle > span::after{

    position: absolute;
    top: 10px;
    left: 55px;
    transform: translate(-50%, -50%);
    content: "";
    background-color: royalblue;
    width: 10px;
    height: 10px;
    /* border-radius: 50px; */

}

.blogTitle > h2{

    padding-left: 50px;
    font-family: 'homeblogboldfont';
    font-size: 120px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 120px;
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929 30%, #ffffff);

}

.blogTitle > p{

    color: #292929;
    padding-left: 50px;
    font-family: 'homeblogregularfont';
    width: 1200px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;

}

/** Blog Section */
.homeBlogMainSection > .blogSection{

    width: 100%;
    height: 60%;

}