/** Fonts */
@font-face {
    font-family: 'homeblogboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'homeblogmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'homeblogregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Home blog main section */
.homeBlogMainSection{

    width: 100%;
    height: 170vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: contain;
    background-position: center;

}

/** Title Section */
.homeBlogMainSection > .blogTitle{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    background-color: #ffffffff;
}

.blogTitle > span{

    padding-left: 70px;
    color: #292929;
    font-family: 'homeblogmediumfont';
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 20px;
    margin-bottom: 10px;
    display: inline-flex;
    position: relative;


}

.blogTitle > span::after{

    position: absolute;
    top: 10px;
    left: 55px;
    transform: translate(-50%, -50%);
    content: "";
    background-color: royalblue;
    width: 10px;
    height: 10px;
    /* border-radius: 50px; */

}

.blogTitle > h2{

    padding-left: 50px;
    font-family: 'homeblogboldfont';
    font-size: 120px;
    margin-bottom: 10px;
    text-transform: uppercase;
    line-height: 120px;
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929 30%, #ffffff);

}

.blogTitle > p{

    color: #292929;
    padding-left: 50px;
    font-family: 'homeblogregularfont';
    width: 1200px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;

}

/** Blog Section */
.homeBlogMainSection > .blogSection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blogSection > .blogInnerSection{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.blogInnerSection > .swiperBlogSection{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.swiperBlogSection > .blogDiv{

    width: 700px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px #2929292f;
    overflow: hidden;

}

/** Blog Image Div  */
.blogDiv > .blogImageDiv{

    width: 100%;
    height: 70%;
    overflow: hidden;

}

.blogImageDiv > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.8s ease;

}

.blogDiv:hover > .blogImageDiv img{

    transform: scale(1.5) rotate(5deg);
    filter: saturate(110%) brightness(110%);

}

/** Blog Content Div */
.blogDiv > .blogContentDiv{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    position: relative;
    background-color: #ffffffff;

}

.blogContentDiv > h4{

    position: absolute;
    top: -79px;
    padding: 20px 0px 0px 20px;
    background-color: #ffffff;
    font-size: 25px;
    font-family: 'homeblogboldfont';
    letter-spacing: 1px;
    border-top-right-radius: 5px;
    width: 550px;
    display: inline-flex;
    gap: 10px;
    align-items: center;

}

.blogContentDiv h4 > svg{

    color: royalblue;
    font-size: 35px;
    animation: blogSVGAnime 5s linear infinite

}

@keyframes blogSVGAnime {
    
    0%{

        transform: rotate(360deg);

    }100%{

        transform: rotate(0deg);

    }

}

.blogContentDiv > p{

    padding-left: 20px;
    font-family: 'homeblogregularfont';
    letter-spacing: 1px;
    font-size: 15px;

}

.blogContentDiv > a{

    width: 100%;
    display: inline-flex;
    text-decoration: none;
    font-family: 'homeblogmediumfont';
    color: #292929;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    padding-left: 100px;
    position: relative;
    left: 20px;
    transition: all 0.8s ease;

}

.blogContentDiv > a:hover{

    padding-left: 0px;
    color: rgb(255, 255, 255);
    background-color: royalblue;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 18px;

}

.blogContentDiv > a::after{

    position: absolute;
    top: 7px;
    left: 5px;
    width: 10%;
    height: 3px;
    content: "";
    background-color: royalblue;
    transition: all 0.8s ease;

}

.blogContentDiv > a:hover::after{

    width: 0%;
    top: 13px;

}