/** Fonts */
@font-face {
    font-family: 'homeblogboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'homeblogmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'homeblogregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Home blog main section */
.homeBlogMainSection{

    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: contain;
    background-position: center;

}

.homeBlogMainSection > h1{

    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 5px;

}