/** Fonts */
@font-face {
    font-family: 'scrollablenavfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

/** Scrollable Navbar Section */
.scrollableNavDiv{

    position: fixed;
    bottom: 10px;
    z-index: 9;
    width: 100%;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Scrollable Inner Nav */
.scrollableNavDiv > .innerNavDiv{

    width: 800px;
    height: 100%;
    background-image: linear-gradient(120deg, #292929, royalblue, #ffffff, royalblue);
    background-size: 200% 100%;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: graidentAnime 10s linear 1;

}

.innerNavDiv > nav{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.innerNavDiv nav > ul{

    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center;

}

.innerNavDiv nav ul > li{

    height: 50%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

}

.innerNavDiv nav ul li > a{

    color: #ffffff;
    font-size: 17px;
    letter-spacing: 1px;
    font-family: 'scrollablenavfont';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: transform 0.8s ease;
    text-decoration: none;

}

.innerNavDiv nav ul li:hover > a{

    transform: scale(1.2) rotateY(20deg);
    text-shadow: 5px 5px 2px  #ffffff;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffff;
    -webkit-text-fill-color: transparent;
    letter-spacing: 3px;
    font-style: italic;

}

.innerNavDiv nav ul li > a:nth-child(1) svg{

    font-size: 30px;
    color: royalblue;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50px;

}