/** Fonts */
@font-face {
    font-family: 'testimonialregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

@font-face {
    font-family: 'testimonialmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'testimonialboldfont';
    src: url('../../fonts/poltab/Poltab-ExtraBold.ttf');
}

/** Testimonial Main Container */
.testimonialMainContainer{

    width: 100%;
    height: 150vh;

}

.testimonialMainContainer > .testimonialTitleContainer{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.testimonialTitleContainer > span{

    font-size: 20px;
    font-family: 'testimonialmediumfont';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;

}

.testimonialTitleContainer > h2{

    font-size: 60px;
    width: 1400px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'testimonialboldfont';
    font-weight: bolder;
    line-height: 65px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffffff);
    position: relative;

}

.testimonialTitleContainer > h2::after{

    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 6px;
    width: 30%;
    background-color: royalblue;
    border-radius: 50%;

}

/** Testimonial Review Main Section */
.testimonialMainContainer > .testimonialReviewSection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Testimonial Review Box */
.testimonialReviewSection > .testimonialReviewBox{

    width: 50%;
    height: 100%;
    border: 2px solid #292929;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Testimonial Person Image */
.testimonialReviewSection > .testimonialPersonImage{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-50deg, rgba(65, 105, 225, 0.373) 50%, #ffffff 50%);
    position: relative;

}

.testimonialPersonImage > img:nth-child(2){

    position: absolute;
    z-index: 2;
    height: 755px;
    width: 700px;
    object-fit: contain;
    top: -100px;
    filter: brightness(120%) contrast(110%);
    

}

.testimonialPersonImage > img:nth-child(1){

    width: 700px;
    height: 755px;
    object-fit: contain;
    transform: rotateY(-180deg);
    position: absolute;
    z-index: 2;
    top: -100px;

}

/** Review Swiper Container */
.reviewSwiperContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}