/** Fonts */
@font-face {
    font-family: 'testimonialregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

@font-face {
    font-family: 'testimonialmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'testimonialboldfont';
    src: url('../../fonts/poltab/Poltab-ExtraBold.ttf');
}

/** Testimonial Main Container */
.testimonialMainContainer{

    width: 100%;
    height: 150vh;

}

.testimonialMainContainer > .testimonialTitleContainer{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.testimonialTitleContainer > span{

    font-size: 20px;
    font-family: 'testimonialmediumfont';
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;

}

.testimonialTitleContainer > h2{

    font-size: 60px;
    width: 1400px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'testimonialboldfont';
    font-weight: bolder;
    line-height: 65px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffffff);
    position: relative;

}

.testimonialTitleContainer > h2::after{

    position: absolute;
    top: 140px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 6px;
    width: 30%;
    background-color: royalblue;
    border-radius: 50%;

}

/** Testimonial Review Main Section */
.testimonialMainContainer > .testimonialReviewSection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Testimonial Review Box */
.testimonialReviewSection > .testimonialReviewBox{

    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

/** Testimonial Person Image */
.testimonialReviewSection > .testimonialPersonImage{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-50deg, rgba(65, 105, 225, 0.373) 50%, #ffffff 50%);
    position: relative;

}

.testimonialPersonImage > img:nth-child(2){

    position: absolute;
    z-index: 2;
    height: 755px;
    width: 700px;
    object-fit: contain;
    top: -100px;
    filter: brightness(120%) contrast(110%);
    

}

.testimonialPersonImage > img:nth-child(1){

    width: 700px;
    height: 755px;
    object-fit: contain;
    transform: rotateY(-180deg);
    position: absolute;
    z-index: 2;
    top: -100px;

}

/** Review Swiper Container */
.testimonialReviewBox > .testimonialReviewSwiperBox{

    width: 100%;
    height: 68%;

}

/** Review Swiper Slider Container */
 .testimonialSwiperSliderReviewBox{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Review Swiper Slider Container Inner Box */
.testimonialSwiperSliderReviewBox > .testimonialSwiperSliderInnerReviewBox{

    width: 75%;
    height: 80%;
    position: relative;

}

/** Review Content Container */
.testimonialSwiperSliderInnerReviewBox > .reviewContentContainer{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(-50deg, #292929, royalblue);
    border-radius: 20px;
    padding-right: 50px;
    box-shadow: 15px 15px 10px #292929b6;
    border-right: 5px solid #ffffffff;
    border-bottom: 5px solid #ffffffff;

}

.reviewContentContainer::before{

    position: absolute;
    top: 0;
    left: 20px;
    height: 100%;
    width: 20px;
    background-image: linear-gradient(to bottom, #ffffffff, royalblue);
    content: "";

}

.reviewContentContainer > p{

    position: absolute;
    left: 150px;
    top: 50%;
    transform: translate(0%, -50%);
    color: #ffffff;
    font-family: 'testimonialregularfont';
    letter-spacing: 1.5px;
    width: 430px;
    line-height: 25px;
    font-size: 18px;

}

.reviewContentContainer p > svg{

    position: absolute;
    top: -100px;
    left: -30px;
    z-index: 2;
    font-size: 100px;

}

/** Owner Name Div */
.reviewContentContainer > .ownerNameDiv{

    width: 50%;
    height: 50px;
    background-color: #ffffff;
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 2;
    border-radius: 20px 0px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.ownerNameDiv > span{

    font-family: 'testimonialregularfont';
    font-size: 18px;

}

/** Review Content Owner Image */
.testimonialSwiperSliderInnerReviewBox > .reviewOwnerImageContainer{

    width: 230px;
    height: 230px;
    background-color: transparent;
    position: absolute;
    top: 60px;
    z-index: 2;
    left: -90px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.reviewOwnerImageContainer::after{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(50deg, royalblue, #ffffffff, royalblue, #ffffffff, royalblue, #ffffffff, royalblue);
    background-size: 200% 200%;
    content: "";
    z-index: -2;
    animation: afterSpinner 20s linear infinite;

}

@keyframes afterSpinner {
    
    0%{

        transform: rotate(360deg);

    }100%{

        transform: rotate(-360deg);

    }

}

.reviewOwnerImageContainer > .ownerImageDiv{

    width: 200px;
    height: 200px;
    background-color: #292929;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

}

.ownerImageDiv > img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    filter: brightness(120%) sepia(50%);

}

/** Review Swiper Navigation Container */
.testimonialReviewBox > .testimonialSwiperNavigation{

    width: 100%;
    height: 10%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 80px;

}

.testimonialSwiperNavigation > .testimonialSwiperInnerNavigation{

    width: 50%;
    height: 100%;
    background-color: #292929;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.testimonialSwiperInnerNavigation > .testimonialPreviousArrow{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: royalblue;

}

.testimonialPreviousArrow > svg{

    color: #ffffffff;
    font-size: 40px;
    transition: all 0.8s ease;

}

.testimonialSwiperInnerNavigation > .testimonialNextArrow{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid #ffffffff;
    cursor: pointer;

}

.testimonialNextArrow > svg{

    color: #ffffff;
    font-size: 40px;

}