/** Font */
@font-face {
    font-family: 'marqueetextcreativefont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

/** Marquee Text Main Div */
.marqueeTextMainDiv{

    width: 100%;
    height: 50vh;
    overflow: hidden;
    position: relative;

}

/** Marquee First Div */
.marqueeTextMainDiv > .marqueeFirstDiv{

    position: absolute;
    top: 50px;
    right: -50px;
    width: 150%;
    height: 50%;
    background-color: #ffffffff;
    border: 2px solid #292929;
    transform: rotate(10deg);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    white-space: nowrap;

}

.marqueeFirstDiv > .marqueeFirstInnerDiv{

    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    animation: firstMarqueeTextScroller 150s linear infinite;

}

@keyframes firstMarqueeTextScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

.marqueeFirstInnerDiv > span{

    font-size: 200px;
    color: #ffffffff;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;
    text-transform: uppercase;
    font-family: 'marqueetextcreativefont';
    letter-spacing: 20px;
    margin-top: 20px;
    display: inline-flex;
    align-items: center;
    font-style: italic;
    text-shadow: 20px 20px 2px #292929;

}

/** Marquee Second Div */
.marqueeTextMainDiv > .marqueeSecondDiv{

    position: absolute;
    top: 50px;
    left: -50px;
    width: 150%;
    height: 50%;
    background-color: #292929;
    transform: rotate(-10deg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 50px;

}

.marqueeSecondDiv > .marqueeSecondInnerDiv{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: secondMarqueeTextScroller 150s linear infinite;
    padding: 0px 50px 0px 50px;

}

@keyframes secondMarqueeTextScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(100%);

    }

}

.marqueeSecondInnerDiv > span{

    font-size: 200px;
    text-transform: uppercase;
    font-family: 'marqueetextcreativefont';
    margin-top: 30px;
    letter-spacing: 20px;
    color: #ffffffff;
    -webkit-text-stroke: 20px;
    -webkit-text-stroke-color: #ffffffff;
    font-style: italic;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-shadow: 20px 5px 2px #292929;

}