/** Fonts */
@font-face {
    font-family: 'contactpageboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'contactpagemediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'contactpageregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Contact Page Section */
.contactSection{

    width: 100%;
    height: 100%;

}

/** Contact Page Title Section */
.contactSection > .contactPageTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;

}

.contactPageTitleSection > .contactPageTitleDiv{

    padding-left: 10px;
    position: absolute;

}

.contactPageTitleDiv > span{

    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    display: inline-flex;
    font-family: 'contactpagemediumfont';
    margin-left: 40px;
    position: relative;

}

.contactPageTitleDiv > span::before{

    position: absolute;
    top: 3px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-color: royalblue;
    content: "";

}

.contactPageTitleDiv > h1{

    font-size: 170px;
    font-family: 'contactpageboldfont';
    text-transform: uppercase;
    line-height: 150px;
    letter-spacing: 3px;
    font-weight: bolder;

}

.contactPageTitleDiv > p{

    font-size: 18px;
    font-family: 'contactpageregularfont';

}

/** Banner Image Section */
.contactSection > .contactPageBannerSection{

    width: 100%;
    height: 100vh;
    background-image: url('../../images/Contact\ Page\ Images/contact image 8(1).png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 5px 30px 20px #2929292a inset;
    filter: grayscale();
    transition: all 0.8s ease;

}

.contactPageBannerSection:hover{

    filter: grayscale(0);

}

.contactPageBannerSection > .contactPageDescription{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactPageDescription > p{

    font-family: 'contactpageregularfont';
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 2px;
    position: relative;

}

.contactPageDescription > p::before{

    position: absolute;
    top: 5px;
    left: -65px;
    content: "";
    height: 50px;
    width: 50px;
    background-image: linear-gradient(50deg, #ffffffff, royalblue, #ffffff, royalblue, #ffffff, royalblue, #ffffffff, royalblue, #ffffffff);
    background-size: 10vw 50vw;
    border-radius: 50%;
    animation: colorGraidentCircle 5s linear infinite;
    border: 2.5px dashed #ffffffff;

}

@keyframes colorGraidentCircle {
    
    0%{

        transform: rotate(360deg);

    }100%{

        transform: rotate(0deg);

    }

}

/** Contact Additional Info Section */
.contactSection > .contactAdditionalInfo{

    width: 100%;
    height: 100vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.contactAdditionalInfo > .infoBox{

    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease;

}

.contactAdditionalInfo > .infoBox:hover {

    transform: translateY(-20px) rotate(-10deg);
    background-color: royalblue;
    box-shadow: 10px 10px 10px #29292917;

}

.infoBox:hover > .infoDiv span{

    color: #ffffffff;

}

.infoBox:hover > .infoDiv p{

    color: #ffffffff;
    transform: scale(1.2);

}

.infoBox > .svgDiv{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.svgDiv > svg{

    font-size: 150px;
    filter: drop-shadow(5px 5px 5px #29292973);
    color: #ffffffff;

}

.infoBox > .infoDiv{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.infoDiv > span{

    font-size: 40px;
    font-family: 'contactpageboldfont';
    letter-spacing: 2px;
    display: inline-flex;
    color: #292929;

}

.infoDiv > p{

    font-size: 20px;
    font-family: 'contactpageregularfont';
    letter-spacing: 2px;
    transition: all 0.5s ease;

}

/** Contact Form Section */
.contactSection > .contactFormSection{

    width: 100%;
    height: 200vh;
    background-image: url('../../images/Contact\ Page\ Images/contact_form_image_1.png');
    background-attachment: fixed;
    background-size: contain;
    background-position: top right;
    background-repeat: no-repeat;
    filter: grayscale() sepia(9%);
    transition: all 2s ease;
    box-shadow: 0px 30px 30px #29292924 inset;
    position: relative;
    overflow: hidden;

}

.contactFormSection::after {

    position: absolute;
    top: -850px;
    left: -1600px;
    content: "";
    width: 50px;
    height: 300%;
    background-color: rgb(255, 255, 255);
    transform: rotate(50deg);

}

.contactFormSection:hover::after {

    animation: replaceLine 3s ease;

}

@keyframes replaceLine {

    0% {

        transform: translate(0%) rotate(50deg);

    }

    100% {

        transform: translate(15000%) rotate(50deg);
        filter: blur(150px);

    }

}

.contactFormSection:hover {

    filter: grayscale(0) sepia(0) brightness(100.9%);

}

/** Contact Form Div */
.contactFormSection > .contactForm{

    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

/** Contact Form Title Div */
.contactForm > .contactFormTitle{

    width: 100%;
    height: 40%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

}

.contactFormTitle > h3{

    font-size: 130px;
    padding-left: 10px;
    font-family: 'contactpagemediumfont';
    letter-spacing: 10px;
    line-height: 140px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(180deg, #292929 5%, #ECE9E4);
    position: relative;

}

.contactFormTitle > h3::after{

    position: absolute;
    top: 430px;
    left: 25px;
    content: "";
    height: 7px;
    width: 30%;
    background-image: linear-gradient(to right, royalblue, #ffffff);
    border-radius: 50%;

}

/** Contact Form Div */
.contactForm > .formDiv{

    width: 85%;
    height: 60%;
    display: flex;
    align-items: center;
    /* background-color: red; */

}

.formDiv > form{

    margin-left: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;

}

/** First Input Section*/
.formDiv form > .firstInputSection{

    width: 100%;
    height: 25%;
    display: flex;

}

/** First Input Box */
.firstInputSection > .firstInputBox{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.firstInputBox > label{

    font-family: 'contactpagemediumfont';
    letter-spacing: 2px;
    font-size: 20px;

}

.firstInputBox > input{

    width: 80%;
    height: 50px;
    padding-left: 10px;
    border: 0.5px solid #292929;
    outline: none;
    border-radius: 10px;

}

/** Second Input Box */
.firstInputSection > .secondInputBox{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.secondInputBox > label{

    font-family: 'contactpagemediumfont';
    font-size: 20px;
    letter-spacing: 2px;

}

.secondInputBox > input{

    width: 80%;
    height: 50px;
    border: 0.5px solid #292929;
    outline: none;
    padding-left: 10px;
    border-radius: 10px;

}

/** Second Input Section */
.formDiv form > .secondInputSection{

    width: 100%;
    height: 25%;
    display: flex;

}

/** Second Input Section First Input Box */
.secondInputSection > .sFirstInputBox{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.sFirstInputBox > label{

    font-family: 'contactpagemediumfont';
    font-size: 20px;
    letter-spacing: 2px;

}

.sFirstInputBox > input{

    width: 80%;
    height: 50px;
    padding-left: 10px;
    border: 0.5px solid #292929;
    outline: none;
    border-radius: 10px;

}

/** Second Input Section Second Input Box */
.secondInputSection > .sSecondInputBox{

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.sSecondInputBox > label{

    font-family: 'contactpagemediumfont';
    font-size: 20px;
    letter-spacing: 2px;

}

.sSecondInputBox > input{

    width: 80%;
    height: 50px;
    padding-left: 10px;
    border: 0.5px solid #292929;
    outline: none;
    border-radius: 10px;

}

/** Third Input Section */
.formDiv form > .thirdInputSection{

    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.thirdInputSection > label{

    font-size: 20px;
    font-family: 'contactpagemediumfont';
    letter-spacing: 2px;

}

.thirdInputSection > input{

    width: 90%;
    padding-left: 10px;
    height: 50px;
    border: 0.5px solid #292929;
    outline: none;
    border-radius: 10px;

}

/** Fourth Input Section */
.formDiv form > .fourthInputSection{

    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;

}

.fourthInputSection > label{

    font-size: 20px;
    font-family: 'contactpagemediumfont';
    letter-spacing: 2px;

}

.fourthInputSection > textarea{

    width: 89%;
    padding: 20px 10px;
    resize: none;
    outline: none;
    border-radius: 10px;

}

.formDiv form > button{

    width: 300px;
    height: 50px;
    border: 1px solid #292929;
    background-color: transparent;
    color: #292929;
    font-family: 'contactpageregularfont';
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.8s ease;
    margin-top: 20px;
    position: relative;
    overflow: hidden;

}

.formDiv form>button:hover {

    transform: translateY(-10px);
    box-shadow: 5px 5px 5px #29292946;
    border: none;
    color: #ffffffff;
    font-size: 23px;
    letter-spacing: 10px;

}

.formDiv form > button::after{

    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 0%;
    width: 100%;
    background-color: royalblue;
    transition: all 0.8s ease;
    z-index: -2;

}

.formDiv form > button:hover::after{

    height: 100%;

}

.formDiv form button > span{

    display: inline-flex;
    height: 100%;
    align-items: center;

}

.formDiv form button > span:nth-child(1){

    margin-top: 5px;

}

.formDiv form button span:nth-child(2) > svg{

    font-size: 25px;
    transition: all 0.8s ease;

}

.formDiv form button:hover > span:nth-child(2) svg{

    transform: rotateY(360deg) scale(1.2);
    opacity: 1;

}

::placeholder{

    font-family: 'contactpageregularfont';

}

/** Contact Form Error Message */
.contactFormErrorMessage{

    color: orangered;
    font-family: 'contactpageregularfont';
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 5px;

}

/** Contact Form Submitting Message */
.contactFormSubmittingMessage{

    font-size: 15px;
    font-family: 'contactpageregularfont';
    letter-spacing: 2px;
    margin-top: 5px;

}