/** Fonts */
@font-face {
    font-family: 'contactpageboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'contactpagemediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'contactpageregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

/** Contact Page Section */
.contactSection{

    width: 100%;
    height: 100%;

}

/** Contact Page Title Section */
.contactSection > .contactPageTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;

}

.contactPageTitleSection > .contactPageTitleDiv{

    padding-left: 10px;
    position: absolute;

}

.contactPageTitleDiv > span{

    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 20px;
    display: inline-flex;
    font-family: 'contactpagemediumfont';
    margin-left: 40px;
    position: relative;

}

.contactPageTitleDiv > span::before{

    position: absolute;
    top: 3px;
    left: -25px;
    width: 15px;
    height: 15px;
    background-color: royalblue;
    content: "";

}

.contactPageTitleDiv > h1{

    font-size: 170px;
    font-family: 'contactpageboldfont';
    text-transform: uppercase;
    line-height: 150px;
    letter-spacing: 3px;
    font-weight: bolder;

}

.contactPageTitleDiv > p{

    font-size: 18px;
    font-family: 'contactpageregularfont';

}

/** Banner Image Section */
.contactSection > .contactPageBannerSection{

    width: 100%;
    height: 100vh;
    background-image: url('../../images/Contact\ Page\ Images/contact image 8(1).png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 5px 30px 20px #2929292a inset;
    filter: grayscale();
    transition: all 0.8s ease;

}

.contactPageBannerSection:hover{

    filter: grayscale(0);

}

.contactPageBannerSection > .contactPageDescription{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.contactPageDescription > p{

    font-family: 'contactpageregularfont';
    font-size: 25px;
    line-height: 40px;
    letter-spacing: 2px;
    position: relative;

}

.contactPageDescription > p::before{

    position: absolute;
    top: 5px;
    left: -65px;
    content: "";
    height: 50px;
    width: 50px;
    background-image: linear-gradient(50deg, #ffffffff, royalblue, #ffffff, royalblue, #ffffff, royalblue, #ffffffff, royalblue, #ffffffff);
    background-size: 10vw 50vw;
    border-radius: 50%;
    animation: colorGraidentCircle 5s linear infinite;
    border: 2.5px dashed #ffffffff;

}

@keyframes colorGraidentCircle {
    
    0%{

        transform: rotate(360deg);

    }100%{

        transform: rotate(0deg);

    }

}

/** Contact Additional Info Section */
.contactSection > .contactAdditionalInfo{

    width: 100%;
    height: 100vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;

}

.contactAdditionalInfo > .infoBox{

    width: 450px;
    height: 450px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s ease;

}

.contactAdditionalInfo > .infoBox:hover {

    transform: translateY(-20px) rotate(-10deg);
    background-color: royalblue;
    box-shadow: 10px 10px 10px #29292917;

}

.infoBox:hover > .infoDiv span{

    color: #ffffffff;

}

.infoBox:hover > .infoDiv p{

    color: #ffffffff;
    transform: scale(1.2);

}

.infoBox > .svgDiv{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.svgDiv > svg{

    font-size: 150px;
    filter: drop-shadow(5px 5px 5px #29292973);
    color: #ffffffff;

}

.infoBox > .infoDiv{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}

.infoDiv > span{

    font-size: 40px;
    font-family: 'contactpageboldfont';
    letter-spacing: 2px;
    display: inline-flex;
    color: #292929;

}

.infoDiv > p{

    font-size: 20px;
    font-family: 'contactpageregularfont';
    letter-spacing: 2px;
    transition: all 0.5s ease;

}

/** Contact Form Section */
.contactSection > .contactFormSection{

    width: 100%;
    height: 120vh;
    background-image: url('../../images/Contact\ Page\ Images/contact_form_image_1.png');
    background-attachment: fixed;
    background-size: cover;

}