/** Fonts */
@font-face {
    font-family: 'homebannermediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'homebannerlightfont';
    src: url('../../fonts/poltab/Poltab-Light.ttf');
}

@font-face {
    font-family: 'homebannerboldfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

/** Home Banner Section */
.homeBanner{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Home Banner Slide */
.bannerSlider{

    width: 100%;
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

/** Home Banner Content Section */
.bannerContent{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    animation: bannerContentAnime 2s ease;
    background-image: url('https://www.transparenttextures.com/patterns/snow.png');

}

@keyframes bannerContentAnime {

    from{

        opacity: 0;

    }to{

        opacity: 1;

    }
    
}

.bannerContent > .contentDiv{

    margin-left: 50px;
    overflow: hidden;
    padding: 20px 0px;

}

.contentDiv > span{

    font-family: 'homebannermediumfont';
    font-size: 20px;
    letter-spacing: 2px;
    color: rgb(255, 255, 255);
    background-color: royalblue;
    display: inline-flex;
    width: 350px;
    height: 30px;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    margin-bottom: 20px;
    border-radius: 50px 0px 50px 0px;
    animation: spanTextAnime 2s ease;

}

@keyframes spanTextAnime {
    
    from{

        transform: translateX(-500px);
        opacity: 0;

    }to{

        transform: translateX(0px);
        opacity: 1;

    }

}

.contentDiv > h1{

    font-size: 60px;
    font-family: 'homebannerboldfont';
    color: #292929;
    margin-bottom: 20px;
    animation: headingTextAnime 3s ease;

}

@keyframes headingTextAnime {
    
    from{

        opacity: 0;
        transform: translateX(-1000px);

    }to{

        opacity: 1;
        transform: translateX(0px);

    }

}

.contentDiv > p{

    font-size: 18px;
    width: 650px;
    margin-bottom: 20px;
    color: #292929;
    font-family: 'homebannerlightfont';
    letter-spacing: 1px;
    animation: paraTextAnime 4s ease;

}

@keyframes paraTextAnime {
    
    from{

        opacity: 0;
        transform: translateX(-1000px);

    }to{

        opacity: 1;
        transform: translateX(0px);

    }

}

.contentDiv > button{

    background-color: transparent;
    width: 200px;
    height: 50px;
    border: none;
    /* border: 1px solid royalblue; */
    background-color: #292929;
    color: #fff;
    font-family: 'homebannerboldtfont';
    font-size: 15px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.8s ease;
    position: relative;
    overflow: hidden;
    animation: buttonAnime 5s ease;

}

@keyframes buttonAnime {
    
    from{

        opacity: 0;
        transform: scale(0);

    }to{

        opacity: 1;
        transform: scale(1);

    }

}

.contentDiv > button:hover{

    background: transparent;
    transform: scale(1.05);
    color: royalblue;
    border-radius: 20px 0px 20px 0px;
    border: transparent;

}

.contentDiv > button::before{

    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    background-color: #ffffff;
    z-index: -2;
    transition: all 0.8s ease;

}

.contentDiv > button:hover::before{

    width: 100%;

}

/** Home Banner Image Section */
.bannerImage{

    width: 50%;
    height: 100%;
    overflow: hidden;

}

.bannerImage > img{

    object-fit: cover;
    width: 100%;
    height: 100%;
    animation: imageAnime 5s ease;

}

@keyframes imageAnime {
    
    0%{

        transform: translateX(-1000px);
        border-radius: 0px 50px 50px 0px;
        opacity: 0;

    }100%{

        transform: translateX(0px);
        border-radius: 0px;
        opacity: 1;

    }

}

/** Home Banner Navigation */
.homeBannerNaviationSection{

    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 2;
    width: 40%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.homeBannerNaviationSection > ul{

    list-style-type: none;
    display: flex;
    gap: 20px;

}

.homeBannerNaviationSection ul > li{

    background-color: royalblue;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px 0px 20px 0px;
    transition: all 0.8s ease;
    overflow: hidden;

}

.homeBannerNaviationSection ul > li:hover{

    transform: scale(1.2);
    border-radius: 0px 20px 0px 20px;

}

.homeBannerNaviationSection ul li > svg{

    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    font-size: 35px;
    transition: all 0.8s ease;

}

.homeBannerNaviationSection ul li:hover > svg{

    transform: scale(1.2);

}
