/** Fonts */
@font-face {
    font-family: 'pageloadercreativefont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

/** Page Loader Main Section */
.pageLoaderMainSection{

    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: #ffffffff;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** Page Loader DigiScape Text Section*/
.pageLoaderMainSection > .pageLoaderFirstSection{

    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.pageLoaderFirstSection > .digiscapeBox{

    width: 11.1%;
    height: 100%;
    /* background-color: royalblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffffff; */

}

.digiscapeBox > span{

    font-size: 30vmin;
    font-family: 'pageloadercreativefont';

}

.digiscapeBox:nth-child(even){

    background-color: #ffffff;

}

.digiscapeBox:nth-child(even) > span{

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #292929, royalblue);

}

.digiscapeBox:nth-child(odd) {

    background-image: linear-gradient(to right, #ffffff, royalblue, #ffffff, royalblue, #ffffff, royalblue, #ffffff, royalblue, #ffffff, royalblue);
    background-size: 250% 250%;
    animation: graident-anime 15s linear infinite;

}

@keyframes graident-anime {
    
    0%{

        background-position: 0% 0%;

    }
    100%{

        background-position: 100% 50%;

    }

}

.digiscapeBox:nth-child(odd) > span{

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #ffffff;
    position: relative;
    z-index: 9;

}

/** Page Loader To Text Section */
.pageLoaderMainSection > .pageLoaderSecondSection{

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.pageLoaderSecondSection > .toBox:nth-child(1){

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);

}

.pageLoaderSecondSection>.toBox:nth-child(2) {

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #292929;

}

.toBox:nth-child(1) > span{

    font-size: 700px;
    display: inline-flex;
    font-family: 'pageloadercreativefont';
    margin-top: 100px;
   color: #292929;

}

.toBox:nth-child(2) > span{

    font-size: 700px;
    font-family: 'pageloadercreativefont';
    margin-top: 100px;
    color: #292929;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #ffffffff;

}

/** Page Loader Welcome Text Section */
.pageLoaderMainSection > .pageLoaderThirdSection{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.pageLoaderThirdSection > .welcomeBox{

    height: 100%;
    width: 14.28%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-right: 2px solid #292929;

}

.welcomeBox > span{

    font-size: 200px;
    font-family: 'pageloadercreativefont';
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;
    display: inline-flex;

}