/** Fonts */
@font-face {
    font-family: 'pageloadercreativefont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

@font-face {
    font-family: 'pageloadermainfont';
    src: url('../../fonts/poltab/Poltab-SemiBold.ttf');
}

/** Body */
body{

    overflow-y: hidden;

}

/** Page Loader Main Section */
.pageLoaderMainSection{

    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999;
    background-color: #292929;
    overflow: hidden;

}

/** Page Loader Main Section Inner Box */
.pageLoaderMainSection > .pageLoaderInnerBox{

    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;

}

/** Page Loader Welcome Div */
.pageLoaderInnerBox > .pageLoaderWelcomeDiv{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid #ffffffff;
    border-right: 5px solid #ffffffff;

}

/** Page Loader Welcome Div */
.pageLoaderWelcomeDiv > p{

    font-size: 30px;
    font-family: 'pageloadermainfont';
    color: #ffffffff;
    text-transform: uppercase;
    letter-spacing: 10px;

}

/** Page Loader DigiScape Div */
.pageLoaderInnerBox > .pageLoaderDigiscapeDiv{

    width: 100%;;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #292929;
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/** Page Loader DigiScape Div */
.pageLoaderDigiscapeDiv > .digiscapeBox{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11.2%;
    color: #ffffffff;
    font-size: 200px;
    font-family: 'pageloadercreativefont';
    overflow: hidden;

}

.digiscapeBox:nth-child(odd){

    background-image: linear-gradient(36deg, #ffffffff, royalblue, #ffffffff);

}

.digiscapeBox:nth-child(odd) > span{

    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #ffffff, royalblue 50%, #ffffff);
    -webkit-text-stroke: 2px;

}

.digiscapeBox:nth-child(even){

    border: 2px solid #ffffffff;

}

/** DigiScape Quote */
.pageLoaderInnerBox > .pageLoaderDigiscapeQuoteDiv{

    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 1000px;
    border-radius: 50px;
    background-color: transparent;
    padding: 20px;
    overflow: hidden;

}

.pageLoaderDigiscapeQuoteDiv > p{

    color: #ffffff;
    text-align: center;
    font-family: 'pageloadermainfont';
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 18px;
    text-transform: capitalize;

}



