/** About Page Main Section */
.aboutSection{

    width: 100%;
    height: 100%;

}

/** About Page Title Section */
.aboutSection > .aboutTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** About Page Section Title */
.aboutTitleSection > .aboutTitle{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.aboutTitle > span{

    font-family: var(--medium-font);
    color: var(--third-color);
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;

}

.aboutTitle > span::after{

    position: absolute;
    top: 2px;
    left: -20px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: royalblue;

}

.aboutTitle > h1{

    font-family: var(--bold-font);
    letter-spacing: 5px;
    color: var(--third-color);
    margin-left: 10px;
    font-size: 170px;
    line-height: 150px;
    text-transform: uppercase;

}

/** About Banner Section */
.aboutSection > .aboutSectionBanner{

    width: 100%;
    height: 100vh;
    background-image: url('../../images/About\ Page\ Images/about_page_image_3.png');;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: brightness(109%);

}

.aboutSectionBanner > .aboutOverlaySection{

    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #292929a9, rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: bottom;

}

/** About Marquee Section */
.aboutSection > .aboutMarqueeSection{

    width: 100%;
    height: 200px;
    background-color: var(--third-color);
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 50px;

}

.aboutMarqueeSection > .marqueeText {

    display: inline-block;   
    animation: aboutMarqueeText 150s linear infinite;
  
}

.aboutMarqueeSection .marqueeText > p{

    color: #ffffffff;
    font-size: 250px;
    font-family: var(--creative-font);
    letter-spacing: 20px;
    text-transform: uppercase;
    padding-top: 30px;

}

@keyframes aboutMarqueeText {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

/** About Page About Section */
.aboutSection > .aboutPageAboutSectionDiv{

    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** About Page About Image Section */
.aboutPageAboutSectionDiv > .aboutPageAboutImageSection{

    width: 50%;
    height: 100%;

}

.aboutPageAboutImageSection > img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/** About Page About Content Section */
.aboutPageAboutSectionDiv > .aboutPageAboutContentDiv{

    width: 50%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageAboutContentDiv > .aboutPageAboutInnerContent{

    margin-left: 20px;
    width: 100%;
    height: 100%;

}

/** About Section About Content Section */
.aboutPageAboutInnerContent > .aboutContentSection{

    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.aboutContentSection > span{

    font-family: var(--medium-font);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), royalblue);
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: #ffffffff;

}

.aboutContentSection > h2{

    font-family: var(--bold-font);
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;

}

.aboutContentSection > h2::after{

    position: absolute;
    top: 100%;
    left: 5px;
    content: "";
    background-color: royalblue;
    height: 5px;
    width: 30%;
    border-radius: 50%;

}

.aboutContentSection > p{

    font-family: var(--regular-font);
    font-size: 20px;
    width: 700px;
    letter-spacing: 1px;
    line-height: 30px;

}

/** About Section About Content List Item Section */
.aboutPageAboutInnerContent > .aboutContentList{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.aboutContentList > h3{

    font-size: 30px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;

}

.aboutContentList > h3::after{

    position: absolute;
    top: 38px;
    left: 5px;
    content: "";
    width: 30%;
    border-radius: 50%;
    height: 3px;
    background-color: royalblue;

}

.aboutContentList > ul{

    list-style-type: none;

}

.aboutContentList ul > li{

    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-family: var(--regular-font);

}

.aboutContentList ul li > svg{

    margin-right: 10px;
    font-size: 18px;
    color: royalblue;

}

/** About Page Mission & Vision Section */
.aboutSection > .missionVisionSection{

    width: 100%;
    height: 250vh;

}

.missionVisionSection > .missionVisionTitleDiv{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;

}

/** About Page Mission & Vision Title Section */
.missionVisionTitleDiv > .missionVisionTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.missionVisionTitleSection > span{

    font-family: var(--medium-font);
    display: inline-flex;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.missionVisionTitleSection > h2{

    font-family: var(--bold-font);
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 100px;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffffff);

}

.missionVisionTitleSection > h2::after{

    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 6px;
    width: 30%;
    background-color: royalblue;
    border-radius: 50%;

}

/** About Page Mission Section */
.missionVisionSection > .missionVisionMainDiv{

    width: 100%;
    height: 70%;

}

.missionVisionMainDiv > .aboutSectionMission{

    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;

}


.aboutSectionMission > .svgIconDiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #292929;
    background-image: linear-gradient(-50deg, #292929 50%, royalblue)

}

.svgIconDiv > svg{

    font-size: 150px;
    color: #ffffffff;

}

/** Mission Content Section */
.aboutSectionMission > .missionContent{

    width: 80%;
    height: 100%;

}

.missionContent > .contentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.contentDiv > h4{

    font-size: 100px;
    margin-left: 10px;
    font-family: var(--bold-font);
    letter-spacing: 2px;

}

.contentDiv > p{

    margin-left: 20px;
    font-family: var(--regular-font);
    width: 1100px;
    font-size: 18px;
    letter-spacing: 2px;

}

.missionContent > .listItemDiv{

    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #292929, royalblue);
    display: flex;
    align-items: center;
    overflow: hidden;

}

.listItemDiv > ul{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    list-style-type: none;
    animation: missionBulletPointScroller 20s linear infinite;


}

.listItemDiv ul > li{

    color: #ffffffff;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.listItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-left: 50px;

}

@keyframes missionBulletPointScroller {

    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }
    
}

/** About Page Vision Section */
.missionVisionMainDiv > .aboutVisionSection{

    width: 100%;
    height: 33.3%;
    display: flex;

}

.aboutVisionSection > .aboutSectionSVGSection{

    width: 20%;
    height: 100%;
    background-image: linear-gradient(-50deg, rgb(38, 38, 38) 50%, royalblue);
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutSectionSVGSection > svg{

    font-size: 150px;
    color: #ffffffff;

}

.aboutVisionSection > .aboutVisionContentSection{

    width: 80%;
    height: 100%;

}

.aboutVisionContentSection > .aboutVisionInnerContentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.aboutVisionInnerContentDiv > h4{

    font-size: 100px;
    margin-right: 10px;
    font-family: var(--bold-font);
    letter-spacing: 2px;

}

.aboutVisionInnerContentDiv > p{

    font-family: var(--regular-font);
    text-align: right;
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    width: 1100px;

}

/** Vision List Item Section */
.aboutVisionContentSection > .visionListItemDiv{

    width: 100%;
    height: 20%;
    overflow: hidden;
    background-image: linear-gradient(to left, #292929, royalblue);
    display: inline-flex;
    white-space: nowrap;
    gap: 50px;

}

.visionListItemDiv > .visionInnerListItemDiv{

    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: aboutPageVisionItemScroller 20s linear infinite;

}

.visionInnerListItemDiv > ul{

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

}

.visionInnerListItemDiv ul > li{

    color: #ffffffff;
    font-family: var(--regular-font);
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.visionInnerListItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-right: 50px;

}

@keyframes aboutPageVisionItemScroller {
    
    0%{

        transform: translateX(-100%);

    }100%{

        transform: translateX(0%);

    }

}

/** About Page Core Value Section */
.missionVisionMainDiv > .aboutPageCoreValueSection{

    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;

}

/** About Page Core Value SVG Icon Section */
.aboutPageCoreValueSection > .aboutPageCoreValueSVGIconDiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-50deg, #292929 50%, royalblue);

}

.aboutPageCoreValueSVGIconDiv > svg{

    font-size: 150px;
    color: #ffffffff;

}

/** About Page Core Value Content Section */
.aboutPageCoreValueSection > .aboutPageCoreValueContentSection{

    width: 80%;
    height: 100%;

}

.aboutPageCoreValueContentSection > .aboutPageCoreValueInnerContentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.aboutPageCoreValueInnerContentDiv > h4{

    margin-left: 10px;
    font-size: 100px;
    font-family: var(--bold-font);
    letter-spacing: 2px;

}

.aboutPageCoreValueInnerContentDiv > p{

    margin-left: 20px;
    font-size: 18px;
    font-size: 20px;
    width: 1100px;
    letter-spacing: 1px;
    font-family: var(--regular-font);

}

/** About Page Core Value List Item Section  */
.aboutPageCoreValueContentSection > .aboutPageCoreValueSectionListItemDiv{

    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #292929, royalblue);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    gap: 50px;

}

.aboutPageCoreValueSectionListItemDiv > .aboutPageCoreValueSectionInnerListItemDiv{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aboutPageCoreValueListItemScroller 30s linear infinite;

}

.aboutPageCoreValueSectionInnerListItemDiv > ul{

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

}

.aboutPageCoreValueSectionInnerListItemDiv ul > li{

    color: #ffffffff;
    display: flex;
    align-items: center;
    font-family: var(--regular-font);
    font-size: 25px;
    letter-spacing: 2px;

}

.aboutPageCoreValueSectionInnerListItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-right: 50px;
    color: #ffffffff;

}

@keyframes aboutPageCoreValueListItemScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

