/** About Main Section */
main{

    width: 100%;
    height: 100%;

}

/** About Page Main Section */
.aboutSection{

    width: 100%;
    height: 100%;

}

/** About Page Title Section */
.aboutSection > .aboutTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** About Page Section Title */
.aboutTitleSection > .aboutTitle{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;

}

.aboutTitle > span{

    font-family: var(--medium-font);
    color: var(--third-color);
    margin-left: 40px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;

}

.aboutTitle > span::after{

    position: absolute;
    top: 2px;
    left: -20px;
    width: 15px;
    height: 15px;
    content: "";
    background-color: royalblue;

}

.aboutTitle > h1{

    font-family: var(--bold-font);
    letter-spacing: 5px;
    color: var(--third-color);
    margin-left: 10px;
    font-size: 170px;
    line-height: 150px;
    text-transform: uppercase;

}

/** About Banner Section */
.aboutSection > .aboutSectionBanner{

    width: 100%;
    height: 100vh;
    background-image: url('../../images/About\ Page\ Images/about_page_image_3.png');;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    filter: brightness(109%);

}

.aboutSectionBanner > .aboutOverlaySection{

    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, #292929a9, rgba(255, 255, 255, 0));
    background-size: cover;
    background-position: bottom;

}

/** About Marquee Section */
.aboutSection > .aboutMarqueeSection{

    width: 100%;
    height: 200px;
    background-color: var(--third-color);
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    gap: 50px;

}

.aboutMarqueeSection > .marqueeText {

    display: inline-block;   
    animation: aboutMarqueeText 150s linear infinite;
  
}

.aboutMarqueeSection .marqueeText > p{

    color: #ffffffff;
    font-size: 250px;
    font-family: var(--creative-font);
    letter-spacing: 20px;
    text-transform: uppercase;
    padding-top: 30px;

}

@keyframes aboutMarqueeText {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

/** About Page About Section */
.aboutSection > .aboutPageAboutSectionDiv{

    width: 100%;
    height: 120vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

/** About Page About Image Section */
.aboutPageAboutSectionDiv > .aboutPageAboutImageSection{

    width: 50%;
    height: 100%;

}

.aboutPageAboutImageSection > img{

    width: 100%;
    height: 100%;
    object-fit: cover;

}

/** About Page About Content Section */
.aboutPageAboutSectionDiv > .aboutPageAboutContentDiv{

    width: 50%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageAboutContentDiv > .aboutPageAboutInnerContent{

    margin-left: 20px;
    width: 100%;
    height: 100%;

}

/** About Section About Content Section */
.aboutPageAboutInnerContent > .aboutContentSection{

    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.aboutContentSection > span{

    font-family: var(--medium-font);
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: inline-flex;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0), royalblue);
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: #ffffffff;

}

.aboutContentSection > h2{

    font-family: var(--bold-font);
    font-size: 50px;
    margin-bottom: 30px;
    position: relative;

}

.aboutContentSection > h2::after{

    position: absolute;
    top: 100%;
    left: 5px;
    content: "";
    background-color: royalblue;
    height: 5px;
    width: 30%;
    border-radius: 50%;

}

.aboutContentSection > p{

    font-family: var(--regular-font);
    font-size: 20px;
    width: 700px;
    letter-spacing: 1px;
    line-height: 30px;

}

/** About Section About Content List Item Section */
.aboutPageAboutInnerContent > .aboutContentList{

    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.aboutContentList > h3{

    font-size: 30px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    margin-bottom: 30px;
    position: relative;

}

.aboutContentList > h3::after{

    position: absolute;
    top: 38px;
    left: 5px;
    content: "";
    width: 30%;
    border-radius: 50%;
    height: 3px;
    background-color: royalblue;

}

.aboutContentList > ul{

    list-style-type: none;

}

.aboutContentList ul > li{

    font-size: 18px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    font-family: var(--regular-font);

}

.aboutContentList ul li > svg{

    margin-right: 10px;
    font-size: 18px;
    color: royalblue;

}

/** About Page Mission & Vision Section */
.aboutSection > .missionVisionSection{

    width: 100%;
    height: 250vh;

}

.missionVisionSection > .missionVisionTitleDiv{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;

}

/** About Page Mission & Vision Title Section */
.missionVisionTitleDiv > .missionVisionTitleSection{

    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.missionVisionTitleSection > span{

    font-family: var(--medium-font);
    display: inline-flex;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.missionVisionTitleSection > h2{

    font-family: var(--bold-font);
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 120px;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffffff);

}

.missionVisionTitleSection > h2::after{

    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 6px;
    width: 30%;
    background-color: royalblue;
    border-radius: 50%;

}

/** About Page Mission Section */
.missionVisionSection > .missionVisionMainDiv{

    width: 100%;
    height: 70%;

}

.missionVisionMainDiv > .aboutSectionMission{

    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;

}


.aboutSectionMission > .svgIconDiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid #292929;
    background-image: linear-gradient(-50deg, #292929 50%, royalblue)

}

.svgIconDiv > svg{

    font-size: 150px;
    color: #ffffffff;

}

/** Mission Content Section */
.aboutSectionMission > .missionContent{

    width: 80%;
    height: 100%;

}

.missionContent > .contentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.contentDiv > h4{

    font-size: 100px;
    margin-left: 10px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}


.contentDiv > p{

    margin-left: 20px;
    font-family: var(--regular-font);
    width: 1100px;
    font-size: 18px;
    letter-spacing: 2px;

}

.missionContent > .listItemDiv{

    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #292929, royalblue);
    display: flex;
    align-items: center;
    overflow: hidden;

}

.listItemDiv > ul{

    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    list-style-type: none;
    animation: missionBulletPointScroller 20s linear infinite;


}

.listItemDiv ul > li{

    color: #ffffffff;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.listItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-left: 50px;

}

@keyframes missionBulletPointScroller {

    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }
    
}

/** About Page Vision Section */
.missionVisionMainDiv > .aboutVisionSection{

    width: 100%;
    height: 33.3%;
    display: flex;

}

.aboutVisionSection > .aboutSectionSVGSection{

    width: 20%;
    height: 100%;
    background-image: linear-gradient(-50deg, rgb(38, 38, 38) 50%, royalblue);
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutSectionSVGSection > svg{

    font-size: 150px;
    color: #ffffffff;

}

.aboutVisionSection > .aboutVisionContentSection{

    width: 80%;
    height: 100%;

}

.aboutVisionContentSection > .aboutVisionInnerContentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;

}

.aboutVisionInnerContentDiv > h4{

    font-size: 100px;
    margin-right: 10px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    -webkit-text-stroke: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #292929;

}

.aboutVisionInnerContentDiv > p{

    font-family: var(--regular-font);
    text-align: right;
    margin-right: 20px;
    letter-spacing: 1px;
    font-size: 20px;
    width: 1100px;

}

/** Vision List Item Section */
.aboutVisionContentSection > .visionListItemDiv{

    width: 100%;
    height: 20%;
    overflow: hidden;
    background-image: linear-gradient(to left, #292929, royalblue);
    display: inline-flex;
    white-space: nowrap;
    gap: 50px;

}

.visionListItemDiv > .visionInnerListItemDiv{

    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    animation: aboutPageVisionItemScroller 20s linear infinite;

}

.visionInnerListItemDiv > ul{

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

}

.visionInnerListItemDiv ul > li{

    color: #ffffffff;
    font-family: var(--regular-font);
    letter-spacing: 1px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.visionInnerListItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-right: 50px;

}

@keyframes aboutPageVisionItemScroller {
    
    0%{

        transform: translateX(-100%);

    }100%{

        transform: translateX(0%);

    }

}

/** About Page Core Value Section */
.missionVisionMainDiv > .aboutPageCoreValueSection{

    width: 100%;
    height: 33.3%;
    display: flex;
    align-items: center;

}

/** About Page Core Value SVG Icon Section */
.aboutPageCoreValueSection > .aboutPageCoreValueSVGIconDiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(-50deg, #292929 50%, royalblue);

}

.aboutPageCoreValueSVGIconDiv > svg{

    font-size: 150px;
    color: #ffffffff;

}

/** About Page Core Value Content Section */
.aboutPageCoreValueSection > .aboutPageCoreValueContentSection{

    width: 80%;
    height: 100%;

}

.aboutPageCoreValueContentSection > .aboutPageCoreValueInnerContentDiv{

    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.aboutPageCoreValueInnerContentDiv > h4{

    margin-left: 10px;
    font-size: 100px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: #292929;

}

.aboutPageCoreValueInnerContentDiv > p{

    margin-left: 20px;
    font-size: 18px;
    font-size: 20px;
    width: 1100px;
    letter-spacing: 1px;
    font-family: var(--regular-font);

}

/** About Page Core Value List Item Section  */
.aboutPageCoreValueContentSection > .aboutPageCoreValueSectionListItemDiv{

    width: 100%;
    height: 20%;
    background-image: linear-gradient(to right, #292929, royalblue);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    gap: 50px;

}

.aboutPageCoreValueSectionListItemDiv > .aboutPageCoreValueSectionInnerListItemDiv{

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: aboutPageCoreValueListItemScroller 30s linear infinite;

}

.aboutPageCoreValueSectionInnerListItemDiv > ul{

    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    gap: 50px;

}

.aboutPageCoreValueSectionInnerListItemDiv ul > li{

    color: #ffffffff;
    display: flex;
    align-items: center;
    font-family: var(--regular-font);
    font-size: 25px;
    letter-spacing: 2px;

}

.aboutPageCoreValueSectionInnerListItemDiv ul li > svg{

    margin-top: -4.5px;
    margin-right: 50px;
    color: #ffffffff;

}

@keyframes aboutPageCoreValueListItemScroller {
    
    0%{

        transform: translateX(0%);

    }100%{

        transform: translateX(-100%);

    }

}

/** About Page Service Section */
.aboutSection > .aboutPageServiceSection{

    width: 100%;
    height: 200vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;
    background-size: contain;
    background-position: center;

}

/** About Page Service Title Section */
.aboutPageServiceSection > .aboutPageServiceTitleSection{

    width: 100%;
    height: 40%;
    background-color: #ffffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageServiceTitleSection > .titleInnerDiv{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.titleInnerDiv > span{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.titleInnerDiv > h2{

    font-size: 100px;
    line-height: 110px;
    font-family: var(--bold-font);
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffffff);
    position: relative;

}

.titleInnerDiv > h2::after{

    position: absolute;
    top: 220px;
    left: 50%;
    content: "";
    height: 5px;
    width: 30%;
    background-color: royalblue;
    transform: translate(-50%, -50%);
    border-radius: 50%;

}

/** About page services */
.aboutPageServiceSection > .aboutPageServices{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.aboutPageServices > .aboutPageServicesDiv{

    width: 100%;
    height: 100%;

}

.aboutPageServicesDiv > ul{

    list-style-type: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} 

.aboutPageServicesDiv ul > li{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 33.3%;
    border-bottom: 2px dashed var(--third-color);
    position: relative;
    transition: all 0.8s ease;

}

.aboutPageServicesDiv ul > li::after{

    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 0%;
    background-image: linear-gradient(140deg, #292929, royalblue 80%, #ffffffff 20%);
    z-index: -2;
    transition: all 0.8s ease;
    opacity: 0;

}

.aboutPageServicesDiv ul > li:hover{

    border-bottom: 5px dashed #ffffffff;

}

.aboutPageServicesDiv ul > li:hover::after{

    width: 100%;
    opacity: 1;

}

.aboutPageServicesDiv ul > li:nth-child(3){

    border-bottom: none;

}

.aboutPageServicesDiv ul li > .noDiv{

    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.noDiv > span{

    color: var(--third-color);
    font-size: 150px;
    font-family: var(--creative-font);
    display: inline-flex;
    transform: rotate(-90deg);
    opacity: 0.5;

}

.aboutPageServicesDiv ul li > .serviceNameDiv{

    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.serviceNameDiv > .serviceNameImageDiv{

    width: 0%;
    height: 75%;
    position: relative;

}

.serviceNameImageDiv > img{

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;

}

.serviceNameDiv > .serviceTitleDiv{

    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.serviceTitleDiv > h3{

    font-size: 40px;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 25px;
    color: var(--third-color);
    line-height: 80px;
    transition: all 0.8s ease;
    font-weight: 500;
    
}

.aboutPageServicesDiv ul li > .serviceNavigationDiv{

    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.serviceNavigationDiv > button{

    width: 130px;
    height: 130px;
    background-image: linear-gradient(to right, royalblue, rgba(65, 105, 225, 0.359));
    border: none;
    border-radius: 50%;
    cursor: pointer;

}

.serviceNavigationDiv button > a{

    display: inline-flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

}

.serviceNavigationDiv button a > svg{

    color: #ffffffff;
    

}

/** About Page Our Team main Section */
.aboutPageOurTeamMainSection{

    width: 100%;
    height: 200vh;

}

/** About Page Our Team Title Section */
.aboutPageOurTeamMainSection > .aboutPageOurTitleSection{

    width: 100%;
    height: 40%;
    background-color: #ffffffff;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageOurTitleSection > .aboutPageOurTeamInnerTitleDiv{

    margin-left: 20px;
    text-align: center;

}

.aboutPageOurTeamInnerTitleDiv > span{

    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: var(--medium-font);
    margin-bottom: 20px;
    display: inline-flex;

}

.aboutPageOurTeamInnerTitleDiv > h2{

    font-size: 100px;
    line-height: 110px;
    text-transform: uppercase;
    font-family: var(--bold-font);
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, #292929, #ffffff);
    position: relative;

}

.aboutPageOurTeamInnerTitleDiv > h2::after{

    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    height: 5px;
    width: 30%;
    background-color: royalblue;
    border-radius: 50%;

}

/** Our Team Profile Section */
.aboutPageOurTeamMainSection > .ourTeamProfileSection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.ourTeamProfileSection > .ourTeamInnerProfileSection{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: 20px;

}

.ourTeamInnerProfileSection > .ourTeamFirstProfileDiv{

    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;

}

.ourTeamFirstProfileDiv > .profileImageDiv{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

}

.profileImageDiv > img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1.5s ease;
    filter: grayscale(100%) brightness(100%);

}

.ourTeamFirstProfileDiv:hover .profileImageDiv > img{

    transform: scale(2.2) translate(160px, 100px);
    filter: grayscale(0%) brightness(120%);

}

/** Profile Details Div */
.ourTeamFirstProfileDiv > .profileDetailsDiv{

    width: 100%;
    height: 30%;
    background-color: #29292922;
    backdrop-filter: blur(5px);
    position: absolute;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.profileDetailsDiv > .profileInnerDetailsDiv{

    margin-left: 20px;

}

.profileInnerDetailsDiv > h3{

    color: #ffffffff;
    font-size: 50px;
    font-family: var(--medium-font);
    text-transform: uppercase;
    letter-spacing: 2px;

}

.profileInnerDetailsDiv > span{

    color: var(--secondary-color);
    font-size: 20px;
    font-family: var(--regular-font);
    letter-spacing: 2px;
    padding: 10px 20px 10px 20px;
    margin-bottom: 5px;
    display: inline-flex;
    border-radius: 5px;
    position: relative;

}

.profileInnerDetailsDiv > span::before{

    position: absolute;
    top: 13px;
    left: 0px;
    height: 13px;
    width: 13px;
    content: "";
    background-color: var(--primary-color);
    border-radius: 50px;

}

.profileInnerDetailsDiv > p{

    color: #ffffffff;
    font-size: 18px;
    letter-spacing: 1px;
    width: 660px;
    line-height: 25px;

}

/** Profile Social Attachement Div */
.ourTeamFirstProfileDiv > .profileSocialAttachementDiv{

    position: absolute;
    top: 0;
    left: 0;
    width: 10%;
    height: 50%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;

}

.profileSocialAttachementDiv > a{

    color: var(--third-color);
    text-decoration: none;
    font-size: 30px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    transition: all 0.5s ease;
    transform: rotate(-90deg);

}

.profileSocialAttachementDiv > a:hover{

    transform: scale(1.5) rotate(0deg);
    color: var(--secondary-color);
    background-color: #292929;
    padding: 55px 0px;
    border-radius: 50px;

}

/** About Page FAQ Section */
.aboutSection > .aboutPageFAQSection{

    width: 100%;
    height: 200vh;
    background-image: url('https://www.transparenttextures.com/patterns/concrete-wall.png');
    background-attachment: fixed;
    background-size: contain;
    padding-bottom: 5rem;

}

/** About Page FAQ Title Section*/
.aboutPageFAQSection > .aboutPageFAQTitleSection{

    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, #ffffffff, rgba(255, 255, 255, 0.584));
    display: flex;
    align-items: center;
    justify-content: center;

}

/** FAQ Inner Title Section*/
.aboutPageFAQTitleSection > .aboutPageFAQInnerTitle{

    text-align: center;

}

.aboutPageFAQInnerTitle > span{

    font-size: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    display: inline-flex;
    margin-bottom: 30px;
    text-transform: uppercase;

}

.aboutPageFAQInnerTitle > h2{

    font-size: 100px;
    font-family: var(--bold-font);
    text-transform: uppercase;
    line-height: 110px;
    letter-spacing: 2px;
    position: relative;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to bottom, var(--third-color), var(--secondary-color));

}

.aboutPageFAQInnerTitle > h2::after{

    position: absolute;
    top: 230px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primary-color);
    width: 30%;
    height: 5px;
    border-radius: 50%;
    content: "";

}

/** About Page FAQ Content Section */
.aboutPageFAQSection > .aboutPageFAQContentSection{

    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageFAQContentSection > .aboutPageFAQContentInnerSection{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

/** First FAQ Div */
.aboutPageFAQContentInnerSection > .faqDiv{

    width: 1300px;
    height: 100%;

}

.faqDiv > .faqQuestionDiv{

    width: 100%;
    height: 100px;
    /* background-color: #292929; */
    background-image: linear-gradient(to right, rgba(65, 105, 225, 0.526), royalblue);
    display: flex;
    align-items: center;
    border-radius:  20px 20px 0px 0px;
    cursor: pointer;
    overflow: hidden;

}

.faqQuestionDiv > .faqQuestion{

    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    border-right: 2px dashed #ffffffff;

}

.faqQuestion > h3{

    color: #ffffffff;
    margin-left: 20px;
    font-family: var(--medium-font);
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.faqQuestion h3 > span{

    display: inline-flex;

}

.faqQuestion h3 span > svg{

    margin-top: -4px;
    font-size: 40px;

}

/** First FAQ Question Div Span Icons */
.faqQuestionDiv > .faqToggleButtonDiv{

    position: relative;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.faqToggleButtonDiv > .faqSpanDashIconsDiv{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.faqSpanDashIconsDiv > span:nth-child(1){

    position: absolute;
    width: 25%;
    height: 3px;
    background-color: #ffffffff;
    display: inline-flex;

}

.faqSpanDashIconsDiv > span:nth-child(2){

    position: absolute;
    top: 48px;
    left: 48px;
    transform: rotate(90deg);
    width: 25%;
    height: 3px;
    background-color: #ffffffff;
    display: inline-flex;

}

.faqDiv > .faqAnswerDiv{

    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    border-bottom: 2px dashed #292929;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 20px;
    overflow: hidden;

}

.faqAnswerDiv > p{

    font-family: var(--regular-font);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
    margin-left: 20px;

}

/** About Page Get In Touch Main Section */
.aboutSection > .aboutPageGetInTouchMainSection{

    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageGetInTouchMainSection > .aboutPageGetInTouchImageSection{

    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background: url('../../images/About\ Page\ Get\ In\ Touch\ Images/about_get_in_touch_image2.png');
    background-attachment: fixed;

}

.aboutPageGetInTouchImageSection > img{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    object-fit: cover;
    object-position: top;
    border: 2px solid #ffffffff;
    border-radius: 50px;
    box-shadow: 5px 5px 100px rgb(255, 255, 255);

}

.aboutPageGetInTouchMainSection > .aboutPageGetInTouchFormSection{

    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageGetInTouchFormSection > .aboutPageGetIntouchInnerFormSection{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutPageGetIntouchInnerFormSection > .aboutPageGetInTouchTitle{

    width: 100%;
    height: 35rem;
    border-top: 1px solid #292929;
    border-bottom: 1px solid #292929;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

.aboutPageGetInTouchTitle > span{

    font-family: var(--medium-font);
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.aboutPageGetInTouchTitle > h2{

    font-family: var(--bold-font);
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 1px;

}

.aboutPageGetInTouchTitle > button{

    width: 40%;
    height: 50px;
    border-radius: 50px;
    border: none;
    background-color: #292929;
    color: #ffffffff;
    font-family: var(--regular-font);
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.8s ease;

}

.aboutPageGetInTouchTitle > button:hover{

    transform: translateY(-5px);
    width: 50%;
    box-shadow: 2px 2px 20px #292929;
    border: 5px solid #ffffffff;

}
