/** Fonts */
@font-face {
    font-family: 'whychooseusmediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'whychooseusregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

@font-face {
    font-family: 'whychooseuscreativefont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

/** Why Choose Us Main Section */
.whyChooseUsMainDiv{

    width: 100%;
    height: 120vh;
    background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png");
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 150px 0px;

}

/** Why Choose Us Image Div */
.whyChooseUsMainDiv > .whyChooseUsImageDiv{

    width: 50%;
    height: 100%;
    background: #292929;
    position: relative;
    border-radius: 0px 90px 90px 0px;

}

.whyChooseUsImageDiv > .textSpinner{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffffff;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #ffffffff;
    overflow: hidden;

}

.textSpinner > .textSpinnerLogo{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(50deg, #292929, royalblue);

}

.textSpinnerLogo > span{

    font-family: 'whychooseuscreativefont';
    font-size: 90px;
    display: inline-flex;
    margin-top: 20px;
    color: #ffffffff;
    animation: logoSpinner 20s linear infinite;

}

@keyframes logoSpinner {
    
    0%{

        transform: rotateY(-360deg);

    }100%{

        transform: rotateY(0deg);

    }

}

.textSpinnerLogo > .textSpinnerText{

    position: absolute;
    width: 100%;
    height: 100%;
    animation: textSpinner 20s linear infinite;

}

@keyframes textSpinner {
    
    0%{

        transform: rotate(-360deg);

    }100%{

        transform: rotate(0deg);

    }

}

.textSpinnerText > p{

    font-family: 'whychooseusregularfont';
    color: #ffffffff;
    font-weight: bolder;

}

.textSpinnerText p > span{

    position: absolute;
    top: 5px;
    left: 50%;
    transform-origin: 0px 95px;
    font-size: 1.2rem;
    text-transform: uppercase;

}

/** Image Inner Div */
.whyChooseUsImageDiv > .innerImageDiv{

    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;

}

/** First Image Div */
.innerImageDiv > .firstImageDiv{

    background-color: red;
    grid-row: 4 / 17;
    grid-column: 2 / 8;
    border-radius: 50px 0px 50px 0px;
    border: 5px solid #ffffffff;
    transform: rotateY(-180deg);
    position: relative;
    overflow: hidden;

}

.firstImageDiv > img{

    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;
    width: 100%;
    height: 100%;

}

/** Second Image Div */
.innerImageDiv > .secondImageDiv{

    background-color: #ffffffff;
    grid-row: 2 / 9 ;
    grid-column: 9 / 15;
    border-radius: 0px 50px 0px 50px;
    border: 5px solid #ffffffff;
    position: relative;
    overflow: hidden;

}

.secondImageDiv > img{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;

}

/** Third Image Div */
.innerImageDiv > .thirdImageDiv{

    background-color: royalblue;
    grid-row: 16 / 10;
    grid-column: 9 / 15;
    border-radius: 50px 0px 50px 0px;
    border: 5px solid #ffffffff;
    position: relative;
    overflow: hidden;

}

.thirdImageDiv > img{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: bottom;

}

/** Why Choose Us Content Div */
.whyChooseUsMainDiv > .whyChooseUsContentDiv{

    width: 50%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    overflow: hidden;

}

.whyChooseUsContentDiv > .whyChooseUsInnerContentDiv{

    width: 100%;
    height: 100%;

}

.whyChooseUsInnerContentDiv > .titleSubtitleDiv{

    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.titleSubtitleDiv > span{

    color: #292929;
    margin-left: 50px;
    margin-bottom: 20px;
    font-size: 18px;
    font-family: 'whychooseusmediumfont';
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;

}

.titleSubtitleDiv > span::before{

    position: absolute;
    top: 3px;
    left: -30px;
    background-color: royalblue;
    content: "";
    height: 15px;
    width: 15px;

}

.titleSubtitleDiv > h2{

    color: #292929;
    font-size: 70px;
    text-transform: capitalize;
    font-family: 'whychooseusmediumfont';
    letter-spacing: 2px;
    width: 750px;
    padding-left: 20px;
    position: relative;
    line-height: 75px;

}

.titleSubtitleDiv > h2::after{

    position: absolute;
    top: 230px;
    left: 22px;
    width: 35%;
    height: 5px;
    background-color: royalblue;
    content: "";
    border-radius: 50%;

}

/** Why Choose Us Services Div */
.whyChooseUsInnerContentDiv > .whyChooseUsServices{

    width: 100%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 20px;

}

/** Why Choose Us Services Div Inner Boxes */
.whyChooseUsServices > .whyChooseUsServicesBox{

    width: 50%;
    height: 200px;

}

.whyChooseUsServicesBox:nth-child(2){

    background-color: royalblue;
    border-radius: 20px 0px 0px 20px;

}

.whyChooseUsServicesBox:nth-child(2) .whyChooseUsTitleSvgBlock .whyChooseUseTitle > h3{

    color: #ffffffff;

}

.whyChooseUsServicesBox:nth-child(2) > .whyChooseUsParaBlock p{

    color: #ffffffff;
    font-size: 15px;

}

.whyChooseUsServicesBox:nth-child(3){

    background-color: royalblue;
    border-radius: 0px 20px 20px 0px;

}

.whyChooseUsServicesBox:nth-child(3) .whyChooseUsTitleSvgBlock .whyChooseUseTitle > h3{

    color: #ffffffff;

}

.whyChooseUsServicesBox:nth-child(3) > .whyChooseUsParaBlock p{

    color: #ffffffff;
    font-size: 15px;

}

.whyChooseUsServicesBox > .whyChooseUsTitleSvgBlock{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    gap: 10px;

}

.whyChooseUsTitleSvgBlock > .whyChooseUseSvgIcon{

    width: 20%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 3px #292929 inset;

}

.whyChooseUseSvgIcon > svg{

    font-size: 40px;
    color: #292929;

}

.whyChooseUsTitleSvgBlock > .whyChooseUseTitle{

    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.whyChooseUseTitle > h3{

    font-size: 20px;
    font-family: 'whychooseusmediumfont';
    letter-spacing: 2px;
    color: royalblue;
    width: 280px;

}

/** Why Choose Us Services Box */
.whyChooseUsServicesBox > .whyChooseUsParaBlock{

    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

.whyChooseUsParaBlock > p{

    padding-left: 30px;
    font-size: 15px;
    font-family: 'whychooseusregularfont';
    letter-spacing: 2px;

}