/** Fonts */
@font-face {
    font-family: 'footermediumfont';
    src: url('../../fonts/poltab/Poltab-Medium.ttf');
}

@font-face {
    font-family: 'footerregularfont';
    src: url('../../fonts/poltab/Poltab-Regular.ttf');
}

@font-face {
    font-family: 'footerblodfont';
    src: url('../../fonts/poltab/Poltab-Bold.ttf');
}

@font-face {
    font-family: 'footercreativefont';
    src: url('../../fonts/negan-demo/Negan\ DEMO.otf');
}

/** Footer Main Section */
.footerSection{

    width: 100%;
    height: 120vh;
    position: relative;
    z-index: 999;
    background-color: #292929;
    overflow: hidden;

}

.footerSection > .footerLinks{

    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(360deg, #292929, rgb(65, 105, 225));

}

.footerSection > .copyrightSection{

    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.copyrightSection > p{

    position: absolute;
    top: 20px;
    color: rgb(255, 255, 255);
    font-family: 'footermediumfont';
    font-size: 18px;
    letter-spacing: 3px;

}

.copyrightSection > p::after{

    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    content: "";
    height: 3px;
    width: 30%;
    border-radius: 50px;


}

.copyrightSection > span{

    position: absolute;
    bottom: -80px;
    font-size: 250px;
    color: #ffffff;
    letter-spacing: 20px;
    text-transform: uppercase;
    font-family: 'footerboldfont';
    font-weight: bolder;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to top, #292929 20%, #ffffff);
    background-size: 30vw 30vw;

}
